In [1]:
import pycaret
from pycaret.regression import *

In [2]:
train = pd.read_csv("Hackathon_2022/resources/train_preprocessed_HK_IZ.csv")

In [3]:
train.head(10)

,floor,total_floor,gym,lift,property_age,property_size,swimming_pool,rent,deposit,type,furnishing,lease_type,locality,parking,building_type,property_id,count
0,3,4.0,1,1,2,-0.187832,1,-0.268446,-0.026500,1,2,3,903,0,0,ff808081469fd6e20146a5af948000ea,193.0
1,4,11.0,1,1,1,0.430529,1,0.615046,0.212543,1,2,3,1829,0,0,ff8080814702d3d10147068359d200cd,183.0
2,0,4.0,1,1,0,0.377250,0,0.062864,-0.385063,1,1,0,681,1,0,ff808081470c645401470fb03f5800a6,168.0
3,3,4.0,0,0,1,0.538702,0,0.283737,0.212543,2,2,0,159,0,0,ff808081470c6454014715eaa5960281,165.0
4,1,2.0,0,0,4,-0.833639,0,-0.875846,-0.663947,0,2,0,873,0,1,ff808081474aa867014771a0298f0aa6,145.0
5,2,2.0,1,0,8,0.377250,1,0.338955,0.610948,2,2,0,279,3,1,ff8080814780f30801478d14132f03f4,143.0
6,1,3.0,1,1,5,-0.591461,1,0.615046,-0.185861,1,2,1,1296,3,1,ff8080814780f308014797c79000082e,136.0
7,0,5.0,1,1,18,-0.268558,1,0.394173,-0.026500,1,2,0,367,0,0,ff80808147a95f0a0147ab0d88fa0080,133.0
8,0,2.0,1,0,15,1.668866,1,1.167229,1.009352,2,2,3,2247,0,1,ff80808147ac6af10147afc279480099,128.0
9,1,2.0,1,0,8,-0.591461,0,-0.268446,-0.663947,1,1,0,1356,3,0,ff80808147cbdc2a0147cf8577880153,127.0

In [4]:
test = pd.read_csv("Hackathon_2022/resources/test_preprocessed_HK_IZ.csv")

In [5]:
print(train.select_dtypes(exclude=np.number).columns)

Index(['property_id'], dtype='object')

In [6]:
exp_name = setup(data = train, target = 'count', categorical_features=['property_id'])

In [ ]:
best_model = compare_models(exclude=['gbr', 'ridge', 'en', 'huber', 'llar', 'knn', 'dt', 'ada', 'par'])

IntProgress(value=0, description='Processing: ', max=54)

Initiated  . . . . . . . . . . . . . . . . . .          00:13:49
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .    Bayesian Ridge